html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #ececec;
  /*color: red;*/
}

.header {
  font-family: inherit;
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .6);

  background: #5f5e5e;
}

.header > .header-content {
  max-width: 900px;
  margin: 0 auto;
}

.header > .header-content > .header-title {
  color: white;
  margin: 0px;
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.header > .header-content > img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  vertical-align: middle;
}
